<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
	</head>
	<body>
		<nav>
			<div class="site-title">
				<a href="/"><h1>Blog</h1></a>
				<p>A normal blog site</p>
			</div>
		</nav>
		<ul>
			<li><a href="/">Blog</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs/create">New Blog</a></li>
		</ul>

		<div class="about content">
			<h2>About us</h2>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod obcaecati
				qui placeat sed soluta non ipsam beatae veniam quisquam praesentium
				ratione quidem esse, doloribus assumenda quae error maiores magnam
				architecto.
			</p>
		</div>
	</body>
</html>
